@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: GrenzeGotisch;
  src: url('fonts/Grenze_Gotisch/GrenzeGotisch-VariableFont_wght.ttf');
}

@font-face {
  font-family: GrenzeGotischBold;
  src: url('fonts/Grenze_Gotisch/static/GrenzeGotisch-Bold.ttf');
}

@font-face {
  font-family: ParisienneRegular;
  src: url('fonts/Parisienne/Parisienne-Regular.ttf');
}

p {
  font-family: GrenzeGotisch;
}

h4, p.bold, p b{
  font-family: GrenzeGotischBold;
}

h1 {
  font-family: ParisienneRegular;
}

.profile-img{
  background-image: url('img/profile_image.jpg');
  background-position: center;
  background-size: contain;
  @apply w-40 h-40 bg-red-100 rounded-full mx-auto
}

.parallax {
  background-image: url('img/castle_background.webp');
}

.description:first-letter {
  font-size: 2.5em;
}

@media (min-width: 1024px) {
  .font-bold {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .nav li {
    display: inline-block;
  }
}